// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$scilifelab-lime: #a7c947;
$scilifelab-lime75: #bdd775;
$scilifelab-lime50: #d3e4a3;
$scilifelab-lime25: #e9f2d1;

$scilifelab-teal: #045c64;
$scilifelab-teal75: #43858b;
$scilifelab-teal50: #82aeb2;
$scilifelab-teal25: #c0d6d8;

$scilifelab-aqua: #4c979f;
$scilifelab-aqua75: #79b1b7;
$scilifelab-aqua50: #a6cbcf;
$scilifelab-aqua25: #d2e5e7;

$scilifelab-grape: #491f53;
$scilifelab-grape75: #77577e;
$scilifelab-grape50: #a48fa9;
$scilifelab-grape25: #d2c7d4;

$scilifelab-light-gray: #e5e5e5;
$scilifelab-medium-gray: #a6a6a6;
$scilifelab-dark-gray: #3f3f3f;

$primary: $scilifelab-teal;
$secondary: #26a69a;
$accent: $scilifelab-lime;

$dark: $scilifelab-dark-gray;

$positive: #21ba45;
$negative: #c10015;
$info: $scilifelab-aqua;
$warning: #f2c037;
